.Navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: auto;
    background-color: white;
    box-shadow: 0px 1px whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
}

.buttons {
    display: flex;
    padding-top: 15px;
    padding-right: 30px;
    margin-right: 50px;
    border-bottom: 1px solid #bbb;
}

.button {
    margin-left: 70px;
    margin-bottom: 10px;
}

.Logo {
    display: flex;
    padding-left: 5px;
}

.text {
    padding-top: 25px;
    font-weight: bold;
}